<%= form_for :session, :url => sessions_path do |f| %>
	<li class="signIn"><%= f.text_field :email, :placeholder => "Email", :class =>"signInForm" %></li> 
	<li class="signIn"><%= f.password_field :password, :placeholder =>"Password", :class =>"signInForm"  %></li>
	<li class="signIn"><%= f.submit "Sign in", class: "button", id: "submitbutton" %></li><br/>
		<% flash.each do |name, msg| %>
  			<% if msg.is_a?(String) %>
  				<li class="signInerror"> <%= content_tag :div, msg %></li>
  			<% end %>
		<% end %>
<% end %>


