<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <title><%= content_for?(:title) ? yield(:title) : "ParticiFind" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <div class="fixed">
    <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to image_tag('logo2.png', id: 'navlogo'), root_path %></h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="left" >
        <% if current_user %>
          <li><%= link_to "New Post", new_post_path %></li>
          <li><%= link_to "My post", posts_path %></li>
        <% else %>
          <%= render partial: 'sessions/form' %>
        <% end %>
      </ul>
      <ul class="right">
          <% if current_user %>
            <li><%= link_to "Sign out", sessions_path, method: :delete %></li>
          <% else %>
            <li><a href="#" data-reveal-id="myModal">Sign Up</a></li>
          <% end %>
      </ul>
    </section>
    </nav>
  </div>      


<div id="myModal" class="reveal-modal customodal" data-reveal>
<%= render partial: 'users/newform', :controller=>"users", :action =>"new", :locals => {:user => new_user}  %>
  <a class="close-reveal-modal">&#215;</a>
</div>







    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>