<!DOCTYPE html>
<html lang="en" ng-app="postsApp">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <title><%= content_for?(:title) ? yield(:title) : "ParticiFind" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body ng-controller="postsController">
  <div class="fixed">
    <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to image_tag('logo2.png', id: 'navlogo'), root_path %></h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="left" >
        <% if current_user %>
          <li class="navText"> Hello, <%= current_user.username %>!</li>
          <li><a href='#' data-reveal-id="postModal" ng-click="newOrEditPost()">New Post</a></li>
          <li><%= link_to "My Postings", posts_path %></li>
        <% else %>
          <%= render partial: 'sessions/form' %>
        <% end %>
      </ul>
      <ul class="right">
      
          <li><%= link_to "About", new_user_path %></li>
          <% if current_user %>
            <li><%= link_to "Sign out", sessions_path, method: :delete %></li>
          <% else %>
            <li>
            
            <% if current_page?(new_user_path) %>

            <a href="#" class="signupbutton">Sign Up</a>

            <% else %>
            <%= link_to "Sign Up", new_user_path %>
            <% end %>

            </li>
          <% end %>
      </ul>
    </section>
    </nav>
  </div>      

  <div id="postModal" class="reveal-modal customodal" data-reveal>
    <%= render 'posts/post_form' %>
    <a class="close-reveal-modal">&#215;</a>
  </div>

    <%= yield %>

  <footer>
    <span>&copy; 2014 Particind.com </span>
    <span> Los Angeles, California </span>
    <span> Built and Designed by: Eric Wu and Dinna Gonzales</span>
  </footer>

    <%= javascript_include_tag "application" %>

  <script>
    $(document).ready(function(){
      $('.your-class').slick({
        dots: true,
        infinite: true,
        speed: 300,
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: true
      });

      $('.signupbutton').click(function(e) {
        $('.your-class').slickGoTo(2);        
      });
    });
  </script>
  
  </body>
</html>