<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'favicon.ico'%>
  <title>Particifind</title>
  <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav>
		<div class="leftnav">
		<%= link_to image_tag("logo2.png", alt: "Logo", id:"navlogo"), root_path%>
		<% if current_user %>
			<span>Logged in as: <%= current_user.email %></span>
		<% end %>
		</div>

		<div class="rightnav">
			<% if current_user %>
				<%= link_to " + New Post", new_post_path %>
				<%= link_to "My posts", posts_path %>
				<%= link_to "Sign out", sessions_path, method: :delete %>
			<% else %>
				<%= link_to "Sign in", new_sessions_path %>
				<%= link_to "Sign up", new_user_path %>
			<% end %>
		</div>
	</nav>

<%= yield %>

</body>
</html>
